# Python cache directories
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Compiled files
*.so
*.o
*.out

# Logs
*.log
*.txt
*.hex
!gpu/tests/exp/**/*.hex
*.egg-info/
results/

